.container {
  @apply p-6 grid grid-cols-3 gap-4;
}

.button {
  @apply flex flex-col items-center justify-center border-gray-900 w-8 h-8 p-8;
}

.buttonNumber {
  @apply text-2xl font-semibold;
}

.buttonLetters {
  @apply text-lg text-gray-700;
}