.container {
  @apply flex flex-col items-center justify-center h-full text-center w-full p-4;
}

.resultsContainer {
  @apply p-4 h-full;
}

.infoHeading {
  @apply text-gray-800;
}

.heading {
  @apply uppercase text-xs;
}

.headingNumber {
  @apply text-base font-bold;
}

.list {
  @apply flex gap-1 mt-4 flex-wrap;
}

.word {
  @apply mr-2;
}

@screen lg {
  .list {
    @apply flex flex-wrap;
  }
}
