.container {
  @apply flex flex-col items-center justify-center h-full text-center;
}

.resultsContainer {
  @apply p-4 h-full;
}

.infoHeading {
  @apply text-gray-800;
}

.heading {
  @apply uppercase text-xs;
}

.headingNumber {
  @apply text-base font-bold;
}

.list {
  @apply overflow-auto gap-1 mt-4 flex flex-wrap;
}

.word {
  @apply text-sm font-medium mr-2;
}
