.container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'sidebar'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100vh;
  @apply h-screen overflow-hidden gap-6;
}

.main {
  grid-area: main;
  @apply flex items-center justify-center;
}

.header {
  grid-area: header;
  @apply p-4 border-b;
}

.headerHeading {
  @apply font-black text-lg;
}

.sidebar {
  grid-area: sidebar;
  @apply overflow-auto flex;
}

.footer {
  grid-area: footer;
  @apply text-xs px-4 py-2 bg-gray-200 font-semibold;
}

@screen lg {
  .container {
    display: grid;
    grid-template-areas:
      'header header'
      'main sidebar'
      'footer footer';
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content 1fr min-content;
    height: 100vh;
    @apply h-screen overflow-hidden gap-0;
  }

  .main {
    @apply bg-gray-100 flex-col;
  }

  .sidebar {
    @apply border-l h-full;
  }
}
